@model SelectedDate
@{
    ViewData["Title"] = "Выбор даты";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand">Ведомость</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark">Добро пожаловать, @TempData["Login"]!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="reg-form-div">
            <h1 class="reg-form-h1">@ViewData["Title"]</h1>
        </div>

        <div>
            <form method="post" asp-controller="Home" asp-action="Check5">
                <div class="form">
                    <select asp-for="SDate">
                        @foreach (string date in ViewBag.DTList)
                        {
                            <option>@date</option>
                                
                        }
                    </select>
                    <span asp-validation-for="SDate"></span>
                </div>

                <div class="form-button">
                    <input type="submit" value="Подтвердить" />
                </div>
            </form>
        </div>
    </main>
</div>