html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table,
td {
    border: 1px solid #333;
    text-align: center;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

th {
    border: 1px solid #ffffff;
}

h1.table {
    font-size: 25px;
    font-weight: bold;
    padding: 2px;
}

h1.reg-form-h1 {
    font-weight: 700;
}

h2 {
    font-size: 25px;
}

div.reg-form-div {
    text-align: center;
}

div.form {
    margin: 0 auto;
    width: 100px;
}

div.form-string {
    margin-left: 42%;
    text-align: left;
}

div.form-button {
    margin-left: 42%;
    text-align: left;
    margin-top: 10px;
}

